@model SchoolManagement.Data.Entities.LectureCalendar

@{
    ViewData["Title"] = "Xóa Lịch báo giảng";
}

<h1>Xóa Lịch báo giảng</h1>
<h3 class="text-danger">Bạn có chắc chắn muốn xóa lịch này và toàn bộ chi tiết kèm theo?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Giáo viên</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.TeacherName)</dd>

        <dt class="col-sm-2">Tuần</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Week)</dd>

        <dt class="col-sm-2">Thời gian</dt>
        <dd class="col-sm-10">
            @Model.StartDate.ToString("dd/MM/yyyy") - @Model.EndDate.ToString("dd/MM/yyyy")
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xác nhận Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Hủy bỏ</a>
    </form>
</div>